.DS_Store
**.pyc
__pycache__/
**service-account.json
cloud_sql_proxy
api/local_notebooks/
api/insurance-test/
api/config.local.json
api/config.local-native-override.json
api/google-key*.json
api/test.db
api/.coverage
saml/config.local.json
localhost.pem
localhost-key.pem
web/cypress/screenshots
web/cypress/snapshots
web/cypress/videos
web/cypress/har-data
.venv
venv
.idea/
api/cypress-api-stubs.json
api/test-*.db
api/test-*.db-journal
api/.ipynb_checkpoints/
node_modules/
.turbo/
modules/
.yarn/
mobile/.DS_Store
turbo-build.log
